<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638722195564-5td0dkntqmmfj9ju0am0egq4oqq4l8h9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638722195564-5td0dkntqmmfj9ju0am0egq4oqq4l8h9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>638722195564-l0mgl5i1ubcpl9ll24k90rcl44be8dm2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAUI5pPOf9pYj6zcPQ5AMm8Ms7Pg8wj2nk</string>
	<key>GCM_SENDER_ID</key>
	<string>638722195564</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>site.eelnm.adminacademylife</string>
	<key>PROJECT_ID</key>
	<string>testcase1-b33f8</string>
	<key>STORAGE_BUCKET</key>
	<string>testcase1-b33f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638722195564:ios:a7aa6dbd15862e05d59849</string>
</dict>
</plist>